<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="io.android.backend" currentVersion="0.0.1">

    <name>Backend</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description></description>
    <author>Adnan Basar - adnanbasarr@gmail.com</author>
    <keywords>android,toast</keywords>

    <license>MIT</license>

    <js-module src="www/Backend.js" name="Backend">
        <clobbers target="window.backend" />
    </js-module>



    <!-- android -->
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Backend">
                <param name="android-package" value="io.android.backend.Backend" />
            </feature>
        </config-file>

        <source-file src="src/android/Backend.java" target-dir="src/io/android/backend" />

    </platform>
</plugin>
